# Django
DEBUG=True
DJANGO_SETTINGS_MODULE=toolsapi.settings.development
SECRET_KEY="bmh6kx(yt8@-_uth$x)t!_fte!+5$8p#jjh31twjr+9(qi5inq"
ALLOWED_HOSTS=dev.toolsapi.com,

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=basica
POSTGRES_DB=toolsapi

# Github Keys
SOCIAL_AUTH_GITHUB_KEY=2a900121512ccaa2614d
SOCIAL_AUTH_GITHUB_SECRET=fd104a3b0b9088b3e8eb0b3c0f5b2481d6bc1d65
